/*meta*/
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: kiddos;
  src: url(../css/fonts/Kiddos-Demo.ttf);
}
/*main*/
body {
  background: #f4a8b7;
  background: linear-gradient(90deg, #f4a8b7 0%, #f4a8b7 14.5%, #00569d 14.5%);
}

#banner {
  width: 100%;
  height: auto;
  display: flex;
}

#intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #64C7F3;
  color: white;
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}
#intro * {
  width: 70%;
  font-family: kiddos;
  letter-spacing: 0.2em;
  font-size: xx-large;
}
#intro iframe {
  height: 19em;
  margin: 0 0 1em 0;
  border-style: none;
}

h1 {
  padding: 3em 0 2em 0;
}

h2 {
  padding: 1em 0 1em 0;
}

h3 {
  text-align: center;
  padding: 2em 0 3em 0;
  font-family: kiddos;
  letter-spacing: 0.2em;
  font-size: xx-large;
}

#transkids_logo {
  width: 15%;
  border-radius: 50%;
}

#articles {
  background: #CCDDEF;
  width: 80%;
  margin: auto;
}
#articles ul {
  width: 80%;
  margin: auto;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#articles ul a {
  padding: 0 1em 1em 1em;
  display: flex;
  align-items: center;
  font-size: large;
  color: #00569D;
}
#articles ul a:hover {
  opacity: 0.7;
}
#articles ul p {
  display: inline-block;
  font-size: large;
  padding: 0 0 0 2em;
}
#articles blockquote {
  background: #E67253;
  position: absolute;
  top: -6.5em;
  right: -6.5em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  padding: 1.5em 1.5em 1.5em 1.5em;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: bold;
  box-shadow: 0.3em 0.5em #FFE596;
}
#articles blockquote * {
  text-align: center;
  font-family: kiddos;
  letter-spacing: 0.2em;
  font-size: 1.1em;
}

.border-css {
  height: 2px;
  width: 50%;
  margin: auto;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, white 50%, rgba(0, 0, 0, 0) 100%);
}

.transflag_article {
  width: 8em;
}

#supports {
  background: white;
  padding: 0 0 2em 0;
  width: 80%;
  margin: auto;
}
#supports ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#supports img {
  width: 15em;
}
#supports img:hover {
  opacity: 0.7;
}

#contact {
  background: #FAD6DD;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#contact ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#contact li {
  display: flex;
  align-items: center;
}
#contact li:hover {
  opacity: 0.7;
}
#contact img {
  width: 3em;
  margin: 0 1em 0 0;
}
#contact > a {
  background: #FFE596;
  width: 8em;
  text-align: center;
  padding: 0.2em 0.2em 0.2em 0.2em;
  font-family: kiddos;
  letter-spacing: 0.2em;
  font-size: xx-large;
  box-shadow: 0.1em 0.15em #CCDDEE;
  margin: 2em auto 2em auto;
}
#contact > a:hover {
  box-shadow: none;
  transform: translate(0.1em, 0.15em);
}

footer {
  background: #E67253;
  color: white;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
}
footer * {
  padding: 0.2em 0 0.2em 0;
}